
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #9d8a8a, hsl(0, 7%, 42%));
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card {
  margin-top: auto;
  margin-bottom: auto;
}


.badge {
  background: linear-gradient(90deg, #ffcc00, #ff9900);
  color: #000;
  font-weight: 800;
  padding: 8px 14px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

h1 span {
  color: #c40000;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.logos img {
  height: 75px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff2a2a, #c40000);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#mensagem {
  margin-top: 15px;
  color: green;
  font-weight: 600;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

footer p {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.7;
}
